#webtitle {
    font-size: 128px;
    color: brown;
}

.redtext {
    font-size: px;
    color: red;
}


span {
    font-size: 60px;
}

.name {
    display: inline-block;
    width: 600px;
    border: 1px rgb(0, 0, 0) solid;
    padding: 10px 10px;
    font-size: 10px;
    margin: auto;
    height: 120px;
}
.header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
}
img{
    width: 20%;
    transform: translate(200%);
}
#h1 {
    font-size: 80px;
}
#chang {
    width: 20%;
}

body {
    background-color: rgb(191, 247, 242);

}